apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: intergrate-jeknins-argo
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/PholSoophak/Manifest_deploy_spring_jenkins_argocd.git
    targetRevision: main
    path: app
  destination: 
    server: 'https://kubernetes.default.svc'
    namespace: myapp
  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true